VITE_RESUME_API_URL=https://zxjl6fs080.execute-api.ap-south-1.amazonaws.com/prod
VITE_SEND_EMAIL_API_URL=https://smgzu8flge.execute-api.ap-south-1.amazonaws.com
VITE_MYVA_API_URL=https://qo27vb65j6.execute-api.ap-south-1.amazonaws.com/myva
VITE_VISIT_API_URL=https://fn46m7ogx7.execute-api.ap-south-1.amazonaws.com/visit
VITE_ADMIN_API_URL=https://uie2mufwti.execute-api.ap-south-1.amazonaws.com
